#root {
  /* background-color: #f7fee7; */
  color: #ec4899;
}

nav {
  color: #10b981;
}

#video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
